<section class="p-0" style="position: relative;">
  <div class="img">
    <owl-carousel-o [options]="customOptions" class="p-0 m-0" style="width: 100%;height: 100%;" >
              <ng-template carouselSlide><img  style="width: 100vw;height: 90vh;background-size: cover;" src="../../../../assets/images/1.jpg" alt=""></ng-template>
              <ng-template carouselSlide><img  style="width: 100vw;height: 90vh;background-size: cover;" src="../../../../assets/images/10.jpg" alt=""></ng-template>
              <ng-template carouselSlide><img  style="width: 100vw;height: 90vh;background-size: cover;" src="../../../../assets/images/3.jpg" alt=""></ng-template>
              <ng-template carouselSlide><img  style="width: 100vw;height: 90vh;background-size: cover;" src="../../../../assets/images/4.jpg" alt=""></ng-template>
            </owl-carousel-o>
  </div>
  <div class="container" style="position: absolute;top: 30%;left: 50%;transform: translate(-50%,-50%);">
    <div class=" d-flex flex-column justify-content-center align-items-center  text-white h-100">
      <div class="firstparag row">Join The Top Rated University </div>
      <div class="hdline row" >Mohamed Awaad Univeristy</div>
      <div class="firstparag row" >Great Quaity Social Life</div>
      <div class="firstparag row" >the best</div>
      <div class="row" ><button class="btn btn-success text-white py-2 px-5" style="font-size: 20px;">Join The Team</button>
</div>
    </div>
  </div>
</section>
