<div class="container mt-5 pt-2">
  <div class="row">
    <div class="col-12">
      <div style="font-size: 40px;line-height: 0.9;" class="mb-4">Dashboard <span class="text-success">Mohamed Mostafa Awaad</span></div>
      <mat-divider></mat-divider>
      <p style="font-size:20px;" class="my-3 pb-5">a self-taught Frontend Angular Developer who's taking a dot net course Right now and intending to be a full stack in 4 months.</p>
    </div>


    <a routerLink="/teacher/subjects" style="text-decoration:none;" class="col-md-4 me-5">
      <mat-card class="example-card" style="height:350px;max-height: 90vh;">
        <mat-card-header class="text-success">
          <div mat-card-avatar class="example-header-image"><mat-icon>library_books</mat-icon></div>
          <mat-card-title>My Subjects</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image style="height:90%;" src="../../../../assets/images/2402589.jpg" alt="subjects">
      </mat-card>
    </a>


    <a routerLink="/teacher/students" style="text-decoration:none;" class="col-md-4">
      <mat-card class="example-card" style="height: 350px;">
        <mat-card-header class="text-success">
          <div mat-card-avatar class="example-header-image"><mat-icon >group</mat-icon></div>
          <mat-card-title>My Students</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image style="height:90%;" src="../../../../assets/images/5853.jpg" alt="subjects">
      </mat-card>
    </a>
  </div>
</div>
